<div class="notification is-secondary">
  <h1>Welcome to <b>Budget Calculator</b>!</h1>
  <a class="delete is-large" (click)="closeButton()"></a>
  <br>
  <h2>
    Here you can keep track of your own income and expenses.<br>
    Just go ahead and enter an <b>amount</b> and a proper <b>description</b> related to that specific action (make sure to use a '<b>-</b>' if it's an expense).
  </h2>
  <br>
  <h2>
    You can always <b>edit</b> your action afterwards by clicking on it, or <b>delete</b> it if you don't need it anymore.
  </h2>
</div>


